h1 {
    background-color: rgb(255, 255, 255);
    text-align:center;
}

body {background-color: rgb(230, 20, 202);
}
 nav a {
    text-align: center;
    color: black;
 }
 .princesa{
    text-align: center;
 }
 .imagem2{
    width: 20%;
 
 }
