h1 {
    background-color: rgb(255, 255, 255);
    text-align:center;
}

p {
    text-align: center;
}

strong {
    font-size: 30px
}

h2 {
    background-color: rgb(243, 242, 243);
text-align: center;
}

body {background-color: rgb(230, 20, 202);

}
h3{
    text-align: center;
}
ul{
    text-align: center;
}
.Liana{
    text-align: center;
}
.Imagem1{
    width: 20%;

}
.imagemcentralizada{
    text-align: center;
}
.bibo{
    width: 20%;
}
.borda {
    border-color white;
    border-width: 30px;
    border-style: solid;
}

}

